{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container text-center">
    <h1 class="mt-5">Effective Eureka</h1>
    <form class="d-flex" method="get" action="{% url 'search' %}">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="container">
    result
  </div>
</main>

{% endblock %}
